export DJANGO_SETTINGS_MODULE=sample_deployment.settings
export DJANGO_SECRET_KEY=secret
export DATABASE_URL=psql://postgres:postgres@localhost:5432/sample_deployment
export DJANGO_DEBUG=True
export DJANGO_ALLOWED_HOSTS=localhost
