{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}
<div class="flex flex-col items-center justify-center w-screen h-screen text-gray-700 bg-gray-200">
  <div class="flex flex-col items-center p-12 bg-white rounded shadow-lg">
    <h1 class="mb-5 text-3xl text-center">{% trans "Sign Up" %}</h1>

    <p class="my-5">
    {% blocktrans with provider_name=account.get_provider.name site_name=site.name %}
      You are about to use your {{provider_name}} account to login to
      {{site_name}}. As a final step, please complete the following form:
    {% endblocktrans %}
    </p>

    <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
      {% csrf_token %}

      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}

      {% include "account/_render_form.html" %}
		  <button type="submit" class="w-64 h-12 px-6 mt-8 text-lg text-white uppercase bg-blue-600 rounded text-bold hover:bg-blue-700">Sign up</button>
    </form>
  </div>
</div>
{% endblock %}
