{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'allauth_ui/output.css' %}">
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    {% if messages %}
    <div>
      {% for message in messages %}
      <div class="flex items-center px-4 py-3 text-sm font-bold text-white bg-blue-500" role="alert">
        <p>{{ message }}</p>
      </div>
      {% endfor %}
    </div>
    {% endif %}
    {% block content %}
    {% endblock %}
  </body>
</html>
