{% extends "account/email.html" %}
{% load i18n %}
{% load allauth_ui %}
{% block content %}
    {% trans "Email Addresses" as heading %}
    {% #container heading=heading %}
    {% if emailaddresses %}
        <div>
            {% trans 'The following email addresses are associated with your account:' %}
        </div>
        {% url 'account_email' as action_url %}
        {% #form url=action_url use_default_button="false" %}
        {{ redirect_field }}
        {% csrf_token %}
        <div class="py-3">
            {% for radio in emailaddress_radios %}
                {% with emailaddress=radio.emailaddress %}
                    <div class="form-control">
                        <label class="flex gap-3 cursor-pointer label border rounded px-3">
                            <span class="grow label-text overflow-auto py-3">{{ emailaddress.email }}
                                {% if emailaddress.verified %}
                                    <div class="badge badge-primary badge-outline">{% trans "verified" %}</div>
                                {% endif %}
                                {% if emailaddress.primary %}
                                    <div class="badge badge-secondary badge-outline">{% trans "primary" %}</div>
                                {% endif %}
                            </span>
                            <input type="radio"
                                   name="email"
                                   value="{{ emailaddress.email }}"
                                   id="{{ radio.id }}"
                                   class="radio checked:bg-primary"
                                   {% if radio.checked %}checked{% endif %} />
                        </label>
                    </div>
                {% endwith %}
            {% endfor %}
        </div>
        <div class="flex flex-col mt-3 gap-1.5 ">
            <button name="action_primary" type="submit" class="btn btn-primary">
                {% trans "Make Primary" %}
            </button>
            <button name="action_send" type="submit" class="btn btn-secondary">
                {% trans "Re-send verification" %}
            </button>
            <button name="action_remove" type="submit" class="btn btn-warning">
                {% trans "Remove" %}
            </button>
        </div>
        {% /form %}
    {% else %}
        {% include "account/snippets/warn_no_email.html" %}
    {% endif %}
    {% if can_add_email %}
        <div class="divider"></div>
        <h2 class="py-3 text-lg">{% trans "Add Email Address" %}</h2>
        {% trans "Add Email" as button_text %}
        {% #form form=form url=action_url button_text=button_text use_default_button="false" %}
        {% csrf_token %}
        <button type="submit" name="action_add" class="my-3 btn">
            {{ button_text }}
        </button>
        {% /form %}
    {% endif %}
    {% /container %}
{% endblock content %}
