{% extends "account/base.html" %}

{% block head_title %}Sign up{% endblock %}

{% block whitebox %}
<h1 class="mb-5 text-3xl text-center">Sign up</h1>
<form id="signup_form" method="post" action="{% url 'account_signup' %}" novalidate>
  {% include "account/_render_form.html" %}
  {% include "account/_button.html" with text="Sign up" %}
</form>
<a class="self-center pt-8 text-xs text-blue-400 justify-self-center hover:text-blue-500" href="{{ login_url }}">Already have an account? Sign in.</a>
{% endblock %}
