{% extends "example/base.html" %}
{% block content %}
    {% if code_block %}
        <div>
            <div class="mockup-code">
                <pre data-prefix="$" class="text-success"><code>SocialAccount.objects.first().extra_data</code></pre>
                {{ code_block | safe }}
            </div>
        </div>
    {% else %}
        <div>
            You need to <a class="link" href="{% url "account_login" %}">log in</a> to display social account metadata
        </div>
    </div>
{% endif %}
{% endblock content %}
